<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ryan Hazzard</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
        integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <link href="assets/css/animate.css" rel="stylesheet">
    <link href="assets/css/style.css" rel="stylesheet">
    <link href="assets/css/font.css" rel="stylesheet">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light color2  text-center fixed-top overflow-hidden">
        <a class="navbar-brand  name " id="name" href="#">Ryan Hazzard</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse  overflow-hidden" id="navbarNavAltMarkup">
            <div class="navbar-nav container flex-row justify-content-between p-0 m-0 topBotomBordersOut">
                <a class="nav-item nav-link " id="menu" href="#summary">About <span
                        class="sr-only">(current)</span></a>
                <a class="nav-item nav-link " id="menu" href="#experience">Projects</a>
                <a class="nav-item nav-link " id="menu" href="#resume">Resume</a>
                <a class="nav-item nav-link " id="menu" href="#contact">Contact</a>
            </div>
        </div>
    </nav>
    <!-- summary -->
    <section id="firstSection" >
        <div class="container" >
            <div class="row">
                <div class="col-12">
                    <h1 class="animated fadeIn slow text-white" id="introName">Ryan Hazzard </h1>
                    <h2 style="display: none" class="animated fadeIn slow text-white" id="description" >Full Stack Developer</h2>
                </div>
            </div>
        </div>
        <div class="container-fluid" style="position: absolute;" >
            <a href="#summary" class="nav-item nav-link" >
                <svg class="arrows" style="scroll-behavior: smooth" >
                    <path class="a1" d="M0 0 L30 32 L60 0"></path>
                    <path class="a2" d="M0 20 L30 52 L60 20"></path>
                    <path class="a3" d="M0 40 L30 72 L60 40"></path>
                </svg>
            </a>
        </div>
    </section>
    <section style="position: relative" class="summary" id="summary">
        <div class="container container-fluid" id="hidden" >
            <div class="row d-flex justify-content-center">
                <div class="col-md-6 overflow-hidden">
                    <a href="#" class="photo">
                        <img class="p-3 mb-0 img-fluid  delay-3.5s" id="bio-pic"
                            src="assets/images/milky-way.jpg" />
                        <div class="glow-wrap">
                            <i class="glow"></i>
                        </div>
                    </a>
                </div>
                <div class="col-md-6 mt-5 pt-4">
                    <p id="page-title" class="text-center  delay-3.5s">About
                    </p>
                    <P id="page-content" class="text-center "> Ryan Hazzard, 20, born in San Clemente. I am a Full-stack developer proficient with the
                        MERN stack. I am driven to becoming a better developer everyday. I care deeply about writing dry code and am currently looking for a career in which I can contribute and grow as a developer.  
                    </P>
                </div>
            </div>
        </div>
    </section>
    <!-- experience -->
    <section style="position: relative" id="experience" class="second-section">
            <div class="container container-fluid text-center pt-0 mt-0" id="vector-bg">
                <div class="row d-flex justify-content-center">
                    <div class="col-12 mb-4 mt-0 pt-0">
                        <h2 class="pt-0 mt-0" id="workHeader">Projects</h2>
                    </div>
                </div>
                <div class="container-fluid" id="projectContainer">
                    <div class="row d-flex justify-content-between ">
                        <div class="col-4 text-center">
                            <a target="_blank" href="https://github.com/Ryanh899/project-1.git" class="projectPic"><img
                                    src="assets/images/vision.png"
                                    class="img-fluid rounded shadow mb-2 first-col img-thumbnail p-2 mb-4 border border-light projectPic"
                                    alt="Responsive image" id="projectPic"></a>
                        </div>
                        <div class="col-4 text-center">
                            <a target="_blank" href="https://powerful-depths-35376.herokuapp.com/"><img
                                    src="assets/images/dog-png.png"
                                    class="img-fluid rounded shadow mb-2 first-col img-thumbnail p-2 mb-4  projectPic"
                                    alt="Responsive image" id="projectPic"></a>
                        </div>
                        <div class="col-4 text-center">
                            <a target="_blank" href="https://ryanh899.github.io/clicky-game/"><img src="assets/images/react.png"
                                    class="img-fluid rounded shadow mb-2 first-col img-thumbnail p-2  mb-4 projectPic"
                                    alt="Responsive image" id="projectPic"></a>
                        </div>
                    </div>
                </div>
            </div>
    </section>
    <section style="position: relative" class="resume " id="resume">
        <div class="resume  pt-0 mt-0 mb-0">
            <div class="container pt-0 mt-0 mb-0">
                <div class="row mb-0">
                    <div class="col-12 mb-0">
                        <h2 id="resumeHeader">Resume</h2>
                    </div>
                    <div class="col-12 pt-5 mb-0">
                      <a href="https://drive.google.com/file/d/179sKKqYy2Sxgpd_7olH7EXEzCldP6Yzz/view?usp=sharing" >
                        <button class="resumeButton btn text-white mt-5 p-0" style="background: #263544" >Click Me</button>
                      </a>  
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="contact mb-1" id="contact">
        <div class="contact pt-0 mt-0 mb-0">
            <div class="container pt-0 mt-0 mb-0 ">
                <div class="row ">
                    <div class="col-12 mt-0">
                        <h2 id="resumeHeader">Contact Me</h2>
                        <hr style="background: black; width: 50%">
                    <div class="row d-flex justify-content-center">
                        <div class="col-3 mb-3">
                            <span id="bounceIcon">
                                <h2>Email</h2>
                                <a href="mailto:rhazzardphoto@gmail.com" >
                                    <img id="icons" src="assets/images/email.png" class="img-fluid rounded">
                                </a>
                            </span>
                        </div>
                        <div class="col-3 mb-3">
                            <span id="bounceIcon">
                                <h2>Cell</h2>
                                <a>
                                    <img href="sms:+1-949-545-3515" id="icons" src="assets/images/phone-512.png" class="img-fluid rounded">
                                </a>
                            </span>
                        </div>
                        <div class="col-12">
                                <h2 >Social Media</h2>
                                    <a target="_blank" href="https://github.com/Ryanh899">
                                        <img src="assets/images/github.png" id="socialMediaIcons">
                                    </a>
                                    <a target="_blank" href="https://www.linkedin.com/in/ryan-hazzard/">
                                        <img src="assets/images/Linkedin-Download-PNG.png" id="socialMediaIcons">
                                    </a>
                        </div>
                    </div>
                        
                        
                        <div class="row">
                            <div class="col-12 ">
                                
                                
                            </div>
                        </div>




                        <!-- <span class="p-3 ml-2 icons">
                            <a href="https://www.instagram.com/ryanhazzard/" class="fab fa-instagram alert-dark icon"></a>
                            <a href="https://www.linkedin.com/feed/" class="fab fa-linkedin alert-dark icon"></a>
                            <a href="https://github.com/Ryanh899" class="fab fa-github-square alert-dark icon"></a>
                        </span> -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="assets/js/animations.js" type="text/javascript"></script>
    <script src="assets/js/functions.js" type="text/javascript"></script>
    <script src="assets/js/main.js" type="text/javascript"></script>
</body>

</html>